# Sensitive Harvest Data & Scans
*.json
*.xml
*.txt
*.state

# Logs and Temp
logs/
temp/
*.log
*.bak

# Binaries and Backdoors (Unless you are distributing them)
APKS/
backdoor_apk/
thefatrat-setup.zip
*.deb

# Backup files
*.backup
*.prepatch.bak
